<h3>Activation account</h3>
<p>To using your account click the link below:</p>
<%= link_to "Activation account", edit_user_url(@user.confirmation_token) %>
<p>When your click a link this, you will using application our.</p>