<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.username %>,</h1>
    <p style="font-size:16px;text-align:left;color:#525d62">
    This message is sent to inform you that you have successfully verified the payment method. It was a pleasure working with you, and thank you for choosing to use our services.
    </p>
    <div style="border-top-width:1px;border-top-style:solid;border-top-color:#e8f1f6;margin-top:20px">
      <p style="font-size:13px">
      This is an automated email, please do not reply as you may not get an answer.
      </p>
      <p style="font-size:13px">
      Best Regards,<br>
      The Tomosia Team<br>
      <a href="http://www.tomosia.com" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=vi&amp;q=http://www.coinzilla.com&amp;source=gmail&amp;ust=1583248877823000&amp;usg=AFQjCNEcclKlwd2xgTcm_UmvGO7NWARF6A">www.tomosia.com</a>
      </p>
    </div>
  </body>
</html>
