<main class="container" style="min-height: 500px;">
  <div class="row">
    <div class="col-8">
      <div class="insta-post">
        <div class="post-meta">
          <%= current_user.username %>
        </div>
        <%=image_tag @image.file, class: "img img-fluid" %>
      </div>
    </div>
  </div>
</main>
