<!--Navigation Bar-->
<nav class="navbar navbar-light bg-light d-flex">
  <div class="container">
    <div class="logo">
      <%= link_to 'Instagram', root_path, :class => 'fa fa-instagram navbar-brand'%>
    </div>
    <div class="m-auto">
      <form class="form-inline search-form">
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="@search" aria-label="Search"> -->
      </form>
    </div>
    <div class="user-section">
      <% if current_user.nil? %>
        <%= render "shared/sign_up" %>
      <% else %>
        <%= render 'shared/sign_in' %>
      <%end%>
    </div>
  </div>
</nav>
