<!--Navigation Bar-->
<nav class="navbar navbar-light bg-light d-flex">
  <div class="container">
    <div class="logo">
      <%= link_to 'Instagram', root_path, :class => 'fa fa-instagram navbar-brand'%>
    </div>
    <div class="user-section">
      <% if current_user %>
        <%= render 'shared/sign_in' %>
      <%end%>
    </div>
  </div>
</nav>