.post-details {
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
}

.img-circle {
  height: 38px;
  width: 38px;
  border-radius: 50%;
}

.insta-post {
  margin-top: 30px;
}

.post {
  border: 1px solid #ddd;
  background: #fff;
}
