.profile-pic {
  margin-left : 100px;
  border-radius: 50%;
  width: 190px;
}
.edit-profile-pic {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}
.profile-stats2 {
  width: 17%;
  float: left;
}

.profile-stats {
  width: 25%;
  float: left;
}

.profile-posts {
  margin-top: 50px;
}

.img-thumbnail {
  margin: 20px;
}

.btn-custom {
  background: transparent;
  border: 2px solid #ddd !important;
  border-radius: 4px !important;
}

.btn-custom:hover {
  background: #ddd !important;
}

.img-instagram {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
    margin: 20px;
}

.post-square {
  width: 290px;
  height: 290px;
  overflow: hidden;
  background-size: cover!important;
}

.post-stats {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  text-align: center;
  color: #fff;
  display: none;

  .inner {
    padding-top: 45%;
  }
}

.insta-post:hover {
  .post-stats {
    display: block;
  }
}

.fa-edit:before, .fa-pencil-square-o:before {
    content: "\f044";
    font-size: 18px;
}

.edit-profile {
  margin-bottom: 10px;
}

.upload-img {
  visibility: hidden;
}

.upload-avt:hover {
  cursor: pointer;
}

.txt-area{
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
}
