body {
  background: #fafafa !important;
}
.post-meta {
  background: #fff;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ddd;
  margin-top: 30px;
}
.form-edit-user{
  padding: 30px 100px 10px 50px;
.form-group, input{
    font-size: 14px;
    color: black;
  }
  input, textarea{
    border: 1px solid #efefef;
  }
  .col-form-label{
    text-align: right;
    font-weight: 600;
  }
.avatar{
    height: 38px;
    width: 38px;
    border-radius: 50%;
  }
  .username{
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 0;
  }
  .change-photo{
    color: #3897f0;
    text-decoration: none;
    font-size: 13px;
  }
  input[type='submit']{
    color: white;
  }
}

post-details-user {
  margin-top: 5px;
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
}

.post-actions-user {
  margin-bottom: 20px;

  i{
    margin-right: 10px;
    color: #ddd;
    cursor: pointer;
  }

  i:hover {
    color: #999;
  }

  i.active {
    color: #555;
  }
}
